@charset "UTF-8";
/* CSS Document */

/*General stuff*/
/*html selectors*/

a
{
	color: black;
	font-family: 'Oswald', sans-serif;
}

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	color: rgb(9, 29, 131);
	text-decoration:none; 
}

nav
{
	font-size: 300%;
	padding-top: 110px;
	text-align: center;
	word-spacing: 30px;
}

#footerNav
{
	padding-top: 30px;
}

h3
{
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	padding-top: 215px;
	text-align: center;
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

body 
{
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	
}


/*Site Container*/

#siteContainer 
{
	margin: 0 auto;
	width: 920px;
}


#mainHeader
{
	border-bottom: solid 1px #DDD;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 40px;
	padding-bottom: 40px;
}


#logo
{
	width: 200px;
}

#mainNav 
{
	margin-left: auto;
	width: 500px;
}

#informativeStart
{
	border-bottom: solid 1px #DDD;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 40px;
	padding-bottom: 40px;
}


#info
{
	font-family: 'Tomorrow', sans-serif;
	font-size: 20px;
	line-height: 35px;
	padding-top: 25px;
	text-align: left;
	width: 600px;
}

#programInfo 
{
	border-bottom: solid 1px #DDD;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 40px;
	padding-bottom: 40px;
}

.programs
{
	height: 300px;
	width: 200px;
}

#motion
{
	background-image: url(../images/index_motion.png);
}

#design
{
	background-image: url(../images/index_design.png);
}

#editing
{
	background-image: url(../images/index_editing.png);
}

#animation
{
	background-image: url(../images/index_animation.png);
}

.info
{
	color: whitesmoke;
	font-family: 'Tomorrow', sans-serif;
	padding-top: 20px;
	text-align: center;
}

#mainFooter 
{
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 40px;
	margin-top: 40px;
	  
}
#footerNav 
{
	width: 500px;
}

#copyRight 
{
	margin-left: auto;
	width: 310px;
}

#copyright
{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding-top: 50px;
	text-align: right;
}

/*Page 2*/

#content1 
{
	font-family: 'Tomorrow', sans-serif;
	font-size: 30px;
	line-height: 50px;
	margin-bottom: 70px;
	margin-top: 50px;
	text-align: left;
}


/*Page 3*/

#contactInfo
{
	font-family: 'Tomorrow', sans-serif;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
}

.contactForm
{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin-top: 80px;
}

input, select {
	background-color: #efefef;
	border: 1px solid #999;
	color: #333;
	display: block;
	font-family: 'Tomorrow', sans-serif;
	font-size: 15px;
	height: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
	width: 300px;
  }

  /*End of CSS*/