@charset "UTF-8";
/* CSS Document */

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

a
{
	color: black;
	font-family: 'Oswald', sans-serif;
}

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	text-decoration:none; 
	color: darkgray;
}

nav
{
	text-align: center;
	font-size: 300%;
	padding-top: 110px;
	word-spacing: 30px;
	
}

#footerNav
{
	padding-top: 30px;
}

h3
{
	text-align: center;
	font-size: 30px;
	color: white;
	padding-top: 215px;
	font-family: 'Oswald', sans-serif;;
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*html selectors*/

body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
}


/*section is block level and no width specidied therefore stretches full screen*/
#topBar
{
	background-color: #000;
	height: 20px;
}

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 920px;
	padding-left: 20px;
	padding-right: 20px;
}

/*This is a flex container*/
#mainHeader
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #DDD;
}

/*This is a flex item*/
#logo
{
	width: 200px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav 
{
	margin-left: auto;
	width: 500px;
}

#informativeStart
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/

#info
{
	width: 600px;
	font-size: 20px;
	text-align: left;
	line-height: 35px;
	padding-top: 25px;
	font-family: 'Tomorrow', sans-serif;
}

#programInfo 
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
}

.programs
{
	width: 200px;
	height: 300px;
}

#motion
{
	background-image: url(../images/index_motion.png);
}

#design
{
	background-image: url(../images/index_design.png);
}

#editing
{
	background-image: url(../images/index_editing.png);
}

#animation
{
	background-image: url(../images/index_animation.png);
}

.info
{
	text-align: center;
	padding-top: 20px;
	color: whitesmoke;
	font-family: 'Tomorrow', sans-serif;
}

#mainFooter 
{
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

#footerNav 
{
	width: 500px;
}

#copyRight 
{
	margin-left: auto;
	width: 310px;
}

#copyright
{
	text-align: right;
	font-size: 20px;
	padding-top: 50px;
	font-family: 'Oswald', sans-serif;
}

/*Page 2*/

#contentCon 
{

}


#content1 
{
	text-align: left;
	font-size: 30px;
	line-height: 50px;
	font-family: 'Tomorrow', sans-serif;
	margin-top: 50px;
	margin-bottom: 70px;
}


/*Page 3*/

#contactInfo
{
	font-family: 'Tomorrow', sans-serif;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
}

.contactForm
{
	margin-top: 50px;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	padding-left: 180px;
}

input, select {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	width: 300px;
	height: 10px;
	background-color: #efefef;
	display: block;
	border: 1px solid #999;
	color: #333;
	font-family: 'Tomorrow', sans-serif;
  }